xml123/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Car-Details" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="time"/>
              <xs:element type="xs:short" name="sunny"/>
              <xs:element type="xs:short" name="xcent"/>
              <xs:element type="xs:short" name="verna"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>